* {
    margin: 0;
    padding: 0;
}

.body {
    width: 80%;
    height: auto;
    margin: 0px 10% 0px 10%;
}

section div img {
    width: 70%;
    height: auto;
    margin: 0px 15% 0px 15%;
    border-radius: 5%;
}

#detail {
    width: 60%;
    height: auto;
    margin: 0px 20% 0px 20%;
}

article p, article h3, article h2 {
    margin-bottom: 20px;
}

.picture {
    width: 100%;
    height: auto;
    border-radius: 3%;
}
